<span class="atc-spinner flex inset-0 absolute items-center justify-center">
    {% render 'icon', name: 'spinner', size: size, size_mobile: size_mobile, icon_select: icon_select, icon_size_override: icon_size_override %}
</span>
