
<div class="prod__accordion">
  <div class="sf-collapsible" data-section-type="sf-collapsible" data-section-id="{{ block.id }}">
    {%- if block.settings.collapsible_title_1 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_1,
        collapsible_content: block.settings.collapsible_content_1,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_1,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_2 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_2,
        collapsible_content: block.settings.collapsible_content_2,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_2,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_3 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_3,
        collapsible_content: block.settings.collapsible_content_3,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_3,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_4 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_4,
        collapsible_content: block.settings.collapsible_content_4,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_4,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_5 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_5,
        collapsible_content: block.settings.collapsible_content_5,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_5,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_6 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_6,
        collapsible_content: block.settings.collapsible_content_6,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_6,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_7 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_7,
        collapsible_content: block.settings.collapsible_content_7,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_7,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_8 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_8,
        collapsible_content: block.settings.collapsible_content_8,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_8,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_9 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_9,
        collapsible_content: block.settings.collapsible_content_9,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_9,
        custom_class: "py-2"
      %}
    {%- endif -%}
    {%- if block.settings.collapsible_title_10 != blank -%}
      {% render 'collapsible-item',
        block: block,
        collapsible_title: block.settings.collapsible_title_10,
        collapsible_content: block.settings.collapsible_content_10,
        justify_content: block.settings.justify_content,
        text_alignment: block.settings.text_alignment,
        collapsible_open: block.settings.collapsible_open_10,
        custom_class: "py-2"
      %}
    {%- endif -%}
  </div>
</div>