{% if template.name != 'product' %}
<div class="footer-mobile__common lg:hidden flex justify-between bg-white">
    <div class="footer__common-item">
        <a href="{{ routes.all_products_collection_url }}">
            {% render 'icon', name: 'border-all', size: 'medium' %}
            <!-- <span class="mt-1 text-xs font-medium">{{ 'layout.footer.mobile_menu.home' | t }}</span> -->
        </a>
    </div>
    {% if settings.wishlist_page != blank %}
    <div class="footer__common-item">
        <a href="{{ pages[settings.wishlist_page].url }}">
            {% render 'icon', name: 'star', size: 'medium' %}
            <sup class="sf-wishlist-count font-medium"></sup>
        </a>
    </div>
    {% endif %}
    <div class="footer__common-item">
        {% render 'cart' %}
    </div>
    <div class="footer__common-item" data-open-search-popup>
        <span class="sf__search-footer-common">{% render 'icon', name: 'search', size: 'medium' %}</span>
    </div>
    {% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
    <div class="footer__common-item">
        <a href="{{ routes.account_url }}">
            {% render 'icon', name: 'user', size: 'medium' %}
        </a>
    </div>
    {% endif %}
</div>
{% endif %}
