<div class="{% if block.settings.title != blank %}sf__accordion-content{% endif %} sf__footer-block-content">
    <div class="mt-3 md:mt-0 md:pb-0">
        {% if block.settings.image != blank %}
        <div class="mb-5" style="max-width: {{ block.settings.image_max }}">
            {% render 'responsive-image', image: block.settings.image %}
        </div>
        {% endif %}
        {% if block.settings.description != blank %}
        <div class="mt-0 block-text">
            {{ block.settings.description }}
        </div>
        {% endif %}
    </div>
</div>
