<div id="react-root" class="react-root" data-gem-ignore>
    <div class="bl-core-loading-animation">
        <img
            src="{{ 'loading-animation.svg' | asset_url }}"
            alt="{{ 'accessibility.loading' | t }}"
            class="bl-core-loading-animation__img"
        />
    </div>
</div>
