{% assign fa = section.settings %}
{% capture container %}
    {{ fa.container }}
{% endcapture %}
<section class="featuredArticles section-pv-{{ section.settings.margin_vertical }}">
    <div class="{{ container }}">
        {% if fa.select_columns == 'columns_2' %}
            <div class="flex wrapperArticles">
                <div class="col">
                    {% render 'article-card-featured', article: fa.desktop_article_1, view: 'grid', blog_class: 'is_featured', blog: blog %}
                </div>
                <div class="col">
                    {% render 'article-card-featured', article: fa.desktop_article_2, view: 'grid', blog_class:'mb-7', article_show_excerpt:false, blog: blog %}
                    {% render 'article-card-featured', article: fa.desktop_article_3, view: 'grid', article_show_excerpt:false, blog: blog %}
                </div>
            </div>
            <style>
                .featuredArticles .col:nth-child(1){
                    width: 100%;
                    flex: 1;
                    border-right: 1px solid #ccc;
                    padding-right: 30px;
                    margin-right: 30px;
                }
                .featuredArticles .col:nth-child(2){
                    width: 100%;
                    max-width: 305px;
                    flex: 1;
                }
            </style>
        {% elsif fa.select_columns == 'columns_3' %}
            <div class="flex wrapperArticles">
                <div class="col">
                    {% render 'article-card-featured', article: fa.desktop_article_1, view: 'grid', blog_class:'mb-7', article_show_excerpt:false %}
                    {% render 'article-card-featured', article: fa.desktop_article_2, view: 'grid', article_show_excerpt:false %}
                </div>
                <div class="col">
                    {% render 'article-card-featured', article: fa.desktop_article_3, view: 'grid', blog_class: 'is_featured' %}
                </div>
                <div class="col">
                    {% render 'article-card-featured', article: fa.desktop_article_4, view: 'grid', blog_class:'mb-7', article_show_excerpt:false %}
                    {% render 'article-card-featured', article: fa.desktop_article_5, view: 'grid', article_show_excerpt:false %}
                </div>
            </div>
            <style>
                .featuredArticles .col:nth-child(2){
                    width: 100%;
                    flex: 1;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    padding-right: 30px;
                    margin-right: 30px;
                    padding-left: 30px;
                    margin-left: 30px;
                }
                .featuredArticles .col:nth-child(1), 
                .featuredArticles .col:nth-child(3){
                    width: 100%;
                    max-width: 305px;
                    flex: 1;
                }
            </style>
        {% endif %}

        <di class="featruedArticle-mobileOnly">
            {% for block in section.blocks %}
                {%- assign articleMobile = articles[block.settings.mobile_article] -%}
                <div class="col-mobile">{% render 'article-card-featured', article: articleMobile, view: 'grid', article_show_excerpt:false %}</div>
            {% endfor %}
        </di>
        
    </div>
</section>

<style>
    .featuredArticles .sf__blog-cardExcerpt{
        max-width: 570px;
    }
    .is_featured h5{
        font-size: 40px;
        line-height: 44px;
    }

    .featuredArticles .sep hr{
      width: 180px;
      opacity: 0.25;
    }

    .featuredArticles .is_featured .sep hr{
      width: 180px;
      opacity: 1;
    }

    /* Mobile Article */
    .featuredArticle-mobileOnly .sep{
        display: none;
    }
    .featruedArticle-mobileOnly .col-mobile{
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
    .featruedArticle-mobileOnly .col-mobile .sf__blog-card{
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
    }
    .featruedArticle-mobileOnly .sf__blog-cardContent{
        padding-top: 0;
        flex: 1;
        padding-right: 25px;
    }
    .featruedArticle-mobileOnly .sf__blog-cardImage{
        width: 90px;
        height: 90px; 
    }
    .featruedArticle-mobileOnly .sf-image {
        --aspect-ratio: 1/1 !important;
    }
    .featruedArticle-mobileOnly h5{
        font-size: 16px;
        line-height: 22px;
    }
    .featruedArticle-mobileOnly .author > *{
        font-size: 14px;
    }

    .sf-slider__controls--absolute button{
        top: 18%;
    }

    @media (max-width: 991px) {
      .featuredArticles .sep hr{
        display: none;
      }
  
      .featuredArticles .is_featured .sep hr{
        display: block;
      }
    }

    @media (min-width:767px){
        .featruedArticle-mobileOnly{
            display: none;
        }
    }

    @media (max-width:767px){
        .featuredArticles.section-pv-sm, 
        .featuredArticles.section-pv-md, 
        .featuredArticles.section-pv-lg{
            padding-top: 16px;
        }
        .wrapperArticles{
            flex-flow: column;
            margin-left: -16px;
            margin-right: -16px;
        }
        .is_featured h5{
            font-size: 32px;
            line-height: 38px;
        }
        .featuredArticles .col {
            width: 100% !important;
            max-width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            border: 0 !important;
        }
        .wrapperArticles .sf__blog-card{
            margin-bottom: 50px;
        }
        .wrapperArticles .sf__blog-cardContent{
            padding: 16px;
        }
    }
</style>

{% schema %}
  {
  "name": "Featured Articles",
  "settings": [
    {
        "type": "header",
        "content": "General"
    },
    {
    "type": "select",
    "id": "margin_vertical",
    "label": "Section margin (vertical)",
    "default": "none",
    "options": [
        {
        "value": "none",
        "label": "None"
        },
        {
        "value": "sm",
        "label": "Small"
        },
        {
        "value": "md",
        "label": "Medium"
        },
        {
        "value": "lg",
        "label": "Large"
        }
    ]
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "article",
        "id": "desktop_article_1",
        "label": "Select Article 1"
    },
    {
        "type": "article",
        "id": "desktop_article_2",
        "label": "Select Article 2"
    },
    {
        "type": "article",
        "id": "desktop_article_3",
        "label": "Select Article 3"
    },
    {
        "type": "article",
        "id": "desktop_article_4",
        "label": "Select Article 4"
    },
    {
        "type": "article",
        "id": "desktop_article_5",
        "label": "Select Article 5"
    },
    {
      "type": "select",
      "id": "select_columns",
      "label": "Select columns",
      "options": [
        {
          "value": "columns_2",
          "label": "2 columns and 3 articles"
        },
        {
          "value": "columns_3",
          "label": "3 columns and 5 articles"
        }
      ],
      "default": "columns_2"
    },
    {
        "type": "header",
        "content": "Article Card Settings"
      },
      {
        "type": "range",
        "id": "article_tags_line_height",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Article tags line height",
        "default": 14
      },
      {
        "type": "color",
        "id": "topic_color",
        "label": "Topic color",
        "default": "#356687"
      },
      {
        "type": "select",
        "id": "topic_tag",
        "label": "Topic tag",
        "default": "p-large",
        "info": "Topic text is picked up automatically from Blog Post - Metafields: Topic.",
          "options": [
            { "value": "p", "label": "Paragraph" },
            { "value": "heading-1-seo", "label": "SEO H1" },
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" },
            { "value": "p-xsmall", "label": "Extra small paragraph" },
            { "value": "p-small", "label": "Small paragraph" },
            { "value": "p-medium", "label": "Medium paragraph" },
            { "value": "p-large", "label": "Large paragraph" },
            { "value": "p-xlarge", "label": "Extra large paragraph" },
            { "value": "quote-1", "label": "Quote 1" },
            { "value": "quote-2", "label": "Quote 2" },
            { "value": "quote-3", "label": "Quote 3" }
          ]
      },
      {
        "type": "color",
        "id": "article_title_color",
        "label": "Title color",
        "default": "#000000"
      },
      {
        "type": "select",
        "id": "article_title_tag",
        "label": "Title tag",
        "default": "h5",
        "info": "Title text is picked up automatically from Blog Post Title.",
          "options": [
            { "value": "p", "label": "Paragraph" },
            { "value": "heading-1-seo", "label": "SEO H1" },
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" },
            { "value": "p-xsmall", "label": "Extra small paragraph" },
            { "value": "p-small", "label": "Small paragraph" },
            { "value": "p-medium", "label": "Medium paragraph" },
            { "value": "p-large", "label": "Large paragraph" },
            { "value": "p-xlarge", "label": "Extra large paragraph" },
            { "value": "quote-1", "label": "Quote 1" },
            { "value": "quote-2", "label": "Quote 2" },
            { "value": "quote-3", "label": "Quote 3" }
        ]
      },
      {
        "type": "color",
        "id": "article_excerpt_color",
        "label": "Excerpt color",
        "default": "#000000"
      },
      {
        "type": "select",
        "id": "article_excerpt_tag",
        "label": "Excerpt tag",
        "default": "excerpt-custom",
        "info": "Article excerpt will be picked from Blog Post Excerpt. If field is empty, it will automatically pick an excerpt from Blog Post Content.",
          "options": [
            { "value": "excerpt-custom", "label": "Custom" },
            { "value": "p", "label": "Paragraph" },
            { "value": "heading-1-seo", "label": "SEO H1" },
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" },
            { "value": "p-xsmall", "label": "Extra small paragraph" },
            { "value": "p-small", "label": "Small paragraph" },
            { "value": "p-medium", "label": "Medium paragraph" },
            { "value": "p-large", "label": "Large paragraph" },
            { "value": "p-xlarge", "label": "Extra large paragraph" },
            { "value": "quote-1", "label": "Quote 1" },
            { "value": "quote-2", "label": "Quote 2" },
            { "value": "quote-3", "label": "Quote 3" }
        ]
      },
      {
        "type": "color",
        "id": "article_author_color",
        "label": "Author color",
        "default": "#000000"
      },
      {
        "type": "select",
        "id": "article_author_tag",
        "label": "Author tag",
        "default": "p-large",
        "info": "Article author will be picked from Blog. Author can be enabled/disabled on Theme Settings - Article Card.",
          "options": [
            { "value": "p", "label": "Paragraph" },
            { "value": "heading-1-seo", "label": "SEO H1" },
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" },
            { "value": "p-xsmall", "label": "Extra small paragraph" },
            { "value": "p-small", "label": "Small paragraph" },
            { "value": "p-medium", "label": "Medium paragraph" },
            { "value": "p-large", "label": "Large paragraph" },
            { "value": "p-xlarge", "label": "Extra large paragraph" },
            { "value": "quote-1", "label": "Quote 1" },
            { "value": "quote-2", "label": "Quote 2" },
            { "value": "quote-3", "label": "Quote 3" }
        ]
      },
      {
        "type": "select",
        "id": "separator_style",
        "label": "Separator style",
        "info": "Separator styling available on 'Theme Settings' inside the 'SEPARATORS' dropdown.",
        "options": [
          {
            "value": "separator",
            "label": "Primary"
          },
          {
            "value": "separator-1",
            "label": "Separator 1"
          },
          {
            "value": "separator-2",
            "label": "Separator 2"
          },
          {
            "value": "separator-3",
            "label": "Separator 3"
          },
          {
            "value": "separator-4",
            "label": "Separator 4"
          },
          {
            "value": "separator-5",
            "label": "Separator 5"
          }
        ]
      },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_blog_name",
      "label": "Show blog name",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show article tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpts",
      "label": "Show excerpts",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author ",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Article Mobile Only",
      "type": "article_mobile_only",
      "settings": [
        {
          "type": "article",
          "id": "mobile_article",
          "label": "Select Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Articles"
    }
  ]
}  
{% endschema %}