{%- render 'react-i18n' translation_key: 'accessibility' -%}
{%- render 'react-i18n' translation_key: 'account' -%}
{%- render 'react-i18n' translation_key: 'livestream' -%}
{%- render 'liveshopping-collection-json' -%}
{{ 'liveshopping.css' | asset_url | stylesheet_tag }}

<div class="container mx-auto xl:pb-16 sm:pb-10 pb-8">
    {% render 'react-root' %}
</div>
